@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

img{
    user-select: none;
}
#demo {
    -webkit-box-shadow: 100px 100px 100px 50px rgba(41,255,73,0.74); 
    box-shadow: -8px -950px 150px 350px rgba(41,255,73,0.74);
    border-radius: 100%;
    }

    *{
        font-family: 'Fira Code', monospace;
    }

    body::-webkit-scrollbar {
        width: 12px;               /* width of the entire scrollbar */
      }
      
      body::-webkit-scrollbar-track {
        background: black;        /* color of the tracking area */
      }
      
      body::-webkit-scrollbar-thumb {
        background-color: #8EFF8B80;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid none;  /* creates padding around scroll thumb */
      }